.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  img {
    width: 30%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
    .price {
      margin-left: 0px;
    }
    .x-multiplier {
      margin: 0px 5px;
    }
    .quantity,
    .remove-button {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .quantity {
      // padding-left: 20px;
      display: flex;
      .arrow {
        cursor: pointer;
      }
      .value {
        margin: 0 5px;
      }
      // justify-content:;
    }

    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
}
